
#main{
  display:flex;
}

#list{
  flex:1;
}

#details{
  flex:2;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background-image: url("/img/stickynote2.png");
  background-size: cover;
}

h1{
  color:whitesmoke;
  background-color: rgb(65, 102, 85);
  text-align: center;
}

h2{
  margin-bottom: 3rem;
  margin-left: 20rem;
}

.container {
  width: 75%;
  height: auto;
  margin-right:8rem;
  margin-bottom: 30rem;

}
  
.foot {
  position: 0;
  margin-left: 10rem;
  margin-bottom: 0;
  width: 80%;
  text-align: left;
}

