

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

h3{
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-indent: 2.0em;
}

p{
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-indent: 2.0em;
}

.pic img{
    width:50rem;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

footer p{
    font-size: 1rem;
    color: rgb(160, 158, 158);
    text-align: center;
}