.nav{
background-color: #0d3dc2;
}
.nav .nav-item .nav-link{
    color: white;
}

h2{
    text-align: center;
}

#pets{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
}

.petTable{
    background:#dedede;
    border:1px solid black;
    padding:1 rem;
}

footer p{
    font-size: 1rem;
    color: rgb(160, 158, 158);
    text-align: center;
}