.menu h1{
    font-size: 3rem;
    background-color: rgb(0, 153, 255);
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.menu h2{
    font-size: 3rem;
    background-color: rgb(0, 153, 255);
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.menu h3{
    font-size: 2rem;
    background-color: yellow;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.menu p{
    font-size: 2rem;
    background-color: yellow;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.img{
    margin:auto;
}

footer p{
    font-size: 1rem;
    color: rgb(160, 158, 158);
    text-align: center;
}