
h1{
    text-align: center;
    background-color: rgb(0, 17, 255);
    color:white;
}

h2{
    text-align: center;
    background-color: rgb(0, 17, 255);
    color:white;
}

.nav-link {
    color: rgb(0, 17, 255);
    transition-duration: 0.5s;
}

.nav-link:hover {
    color: yellowgreen;
}

.display-6.pt-3{
    text-align: center;

}

body {
    min-height: 100vh;
    background-image: white;
}

.info label{
    display: block;
    margin-top: 10px;
}

#map {
    width: 50%;
    height: 400px;
    margin-left: 20rem;
    margin-right: 20rem;
}

footer{
    font-size: 1rem;
    text-align: center;
    color: rgb(150, 144, 144);
}

p{
    text-align: center;
    font-size: 1.7rem;
    color: rgb(0, 17, 255);
}

