/*global*/
:root{
    --primary: rgb(29, 29, 29);
    --text: rgb(202, 24, 60);
}
*{
    margin:0;
}
.body{
    font-family: sans-serif;
}
p{
    font-size:1.5rem;
    line-height:2;
    margin-top:1rem;
}
h2,h3{
    margin-top:1rem;
    text-align: center;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.5rem;
}


/*utilities */
.site-header{
    background-image: url(./img/SofDev.png);
    background-position: center center;
    background-size: cover;
    color:rgb(35, 226, 9);
    text-align:center;
    height:40vh;
}
.site-header img{
    width:15rem;
    height:15rem;
    border-radius: 50%;
    border: 8px sold #ffffff;
    padding:3px;
    opacity:.8;
}
.site header p{
    margin-top:2rem;
    font-size:1.5rem;
}
.site-header h1{
    padding-top:2rem;
    font-size:2.5rem;
}
.container{
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
/*menu*/
nav.menu{
    background-color:rgb(35, 226, 9);
    text-align: center;
    font-size:1.5rem;
}
nav.menu a{
    display:inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
    padding:1rem;
    margin-right:3rem;
}
nav.menu a:hover{
    font-size: 1.4rem;
    color:var(--text);
    font-weight: bold;
}
/*service*/
.service{
    background-color: #dedede;
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
    margin-top:2rem;
}

.contacts-container{
    background-color: #dedede;
    text-align: center;
    padding:2rem;
    border-radius: 10px;
    margin-top:2rem;
}

.bio-container{
    background-color: #dedede;
    text-align: left;
    text-indent: 3rem;
    padding:2rem;
    border-radius: 10px;
    margin-top:2rem;
}

.projects-container{   
        background-color: #dedede;
        text-align:center;
        padding:2rem;
        border-radius: 10px;
        margin-top:2rem;
}


/*icons */
.icons{
    text-align: center;
}
.icons i{
    margin-right: 2rem;
}
.fa-html5{
    font-size: 3rem;
    color: #e65705;
}
.fa-css3-alt{
    font-size:3rem;
    color: rgb(0, 104, 190);
}
.fa-js-square{
    font-size:3rem;
    color: #e4d500;
}
.fa-python{
    font-size:3rem;
    color: rgb(0, 44, 190);
}


/* footer */
.footer{
    background-color:white;
    text-align:center;
    color:white;
    font-size:1rem;    
    padding:1rem;
    margin-top:1rem;
}