img{
    width:20rem;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#c1reset-btn{
    display:none;
}

#c2reset-btn{
    display:none;
}
